body {
    background-color: lightblue;
}
#baby {
    width: 100px; 
    height: auto;
    text-align: center;
}
/* #pet { */
    /* height: 100px;
    width: 100px;
    border: 1px solid black; */
    /* animation: test 3s infinite; */
/* } */
/* @keyframes test {
    0% {
        background-color: green;
    }
    25% {
        background-color: red;
    }
    50% {
        background-color: purple;
    }
    100% {
        background-color: blue;
    }
} */